body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#task-container {
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.task {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}


.task span.completed {
    text-decoration: line-through;
    color: #888;
}

/* Adicione estas regras no final do arquivo style.css */
.task {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.task:hover {
    background-color: #f0f0f0;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}